body{box-sizing: border-box;
padding: 0px;
margin: 0px;}

.container{width: 50%;
margin: auto;
border: 1px solid black;}

.back{background-image: url('../img/pattern.png');
background-color: royalblue;}

#the-booleaner{color: royalblue;}

h5{color: gray;}

