* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container{
  width: 1000px;
margin: auto;
}

.back {
  width: 100%;
  height: 100px;
  background-image: url('../img/pattern.png');
  background-color:rgb(72, 112, 233);
  background-size: 400px;
  
 }

#logo{
  width: 200px;  
  margin-top: 40px;
  margin-left: 20px;
}

#the-booleaner{
color: royalblue;
}

h5 {
  color: gray;
}


.tim-img{
  width: 50%;
  
}
#tim1{height: 322px;}
#tim2{height: 322px;}

#lorem{background-color: yellow;}

li{margin-left: 10px;}

.tab{width: 100%;}

.tab, th, td {
  border:1px solid black;
}

.col-text {
  width:50%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}